/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  background-color: #3f3f3f;
}

*/
/* LoginPage */

* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  background: #fff;
  background-color: #383838;
}

body {
  margin: 0;
}

main {
  margin-top: 6rem;
}